[data-dropdown] {
  position: relative;
  
  .menu-list {
    display: none;
    position: absolute;
    top: 33px;
    width: 110px;
    padding: 10px 10px 15px 10px;
    background: $bottom-blue;
    border-radius: 10px;
    z-index: 1;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -9px;
      left: 5px;
      width: 0;
      height: 0;
      border-bottom: 10px solid #fff;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }

    @media (max-width: 830px) {
      display: block;
      position: static;
      margin-top: 4px;

      &::before {
        top: 24px;
      }
    }

    li {
      margin-top: 5px;

      a {
        padding: 5px;
      }
    }
  }
  
  &:hover .menu-list,
  &.active .menu-list {
    display: block;
    animation: initdropdown .5s forwards;

  @media (max-width: 830px) {
    display: block;
    animation: none;
  }
  }
  
  @keyframes initdropdown {
    from { 
      opacity: 0;
      transform: translate3d(0, -15px, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0px, 0);
    }
  }
}