footer {
    display: flex;
    justify-content: space-around;
    padding: 30px 10px;

    @media (max-width: 800px) {
        & {
            flex-direction: column;
            align-items: center;
        }
    }

  .umbrew-footer {
    max-width: 12.5rem;

    @media (max-width: 800px) {
        & {
            margin-bottom: 40px;
        }
    }

    .title-unbrew {
        color: #1fb6fc;
        font-size: 1.125rem;
        margin-bottom: 10px;
    }

    .text-unbrew {
        color: #88879e;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    ul {
        display: flex;
    }

    li + li {
        margin-left: 10px;
    }

    .icon-footer {
        color: #1fb6fc;
        display: inline-block;
        height: 40px;
        width: 40px;
        border: 1px solid #1fb6fc;
        text-align: center;
        line-height: 2.8;
        border-radius: 5px;
        font-size: 0.875rem;
        transition: 0.3s;

        &:hover {
            color: #fff;
            font-weight: bold;
            background-color: #1fb6fc;
        }
    }
  }

  .explore {
    @media (max-width: 800px) {
        & {
          margin-bottom: 40px;
          margin-right: 45px;
        }
    }

    .title-explore {
        color: #2a3a60;
        font-size: 1.125rem;
        margin-bottom: 10px;
    }

    a {
        display: inline-block;
        color: #88879e;
        margin-bottom: 4.8px;
        transition: 0.3s;

        &:hover {
            color: #1fb6fc;
        }
    }

    #explore-background {
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -9px;
            left: 5px;
            width: 0;
            height: 0;
            border-bottom: 10px solid #1fb6fc;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;

            @media (max-width: 830px) {
                top: 29px;
            }
          }

        a {
            color: #fff;
            padding: 0px;
            margin-bottom: 0px;

            &:hover {
                color: #000;
            }
        }
    }
  }

  .have {
    max-width: 12.5rem;

    .title-have {
        color: #2a3a60;
        font-size: 1.125rem;
        margin-bottom: 10px;
    }

    .text-have {
        color: #88879e;
        font-size: 0.875rem;
    }
  }
}