* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
  
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
}

$bottom-blue: #1fb6fc;

@mixin bottom-hover {
  border-bottom-left-radius: 50px;
  border-top-left-radius: 0;
}

@mixin imagrem-team($background) {
  background-image: $background;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin img-testimonialePortifolio($background) {
  background: $background;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin configbuttom($font-size: 0.875rem) {
  color: #fff;
  background: $bottom-blue;
  font-size: $font-size;
  border-radius: 50px;
  border-bottom-left-radius: 0px;
  padding: 15px 30px;
  transition: 0.3s;
}