.fundo {
    background: linear-gradient(45deg, #553be6 0%, #a87ffa 100%);
    max-width: 100%;
  }
  
header {
    padding: 30px 0 30px 0;
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
  
    h1 {
        font-size: 1.75em;

        @media (max-width: 953px) {
            & {
              margin-left: 0px;
            }
        }
    }
  
    a {
        color: #fff;

        &:hover {
            color: #000;
            transition: 0.3s;
        }
    }
  
    nav ul {
        display: flex;

        li {
            margin-top: 13px;

            a {
                padding: 10px;
            }
        }
    }
}