.fundo {
    background: linear-gradient(45deg, #553be6 0%, #a87ffa 100%);
    max-width: 100%;
  }

header {
    padding: 20px 0 20px 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    h1 {
        font-size: 1.75em;
    }

    a {
        color: #fff;

        &:hover {
            color: #000;
            transition: 0.3s;
        }
    }

    nav ul {
        display: flex;

        li {
            @media (max-width: 830px) {
                margin-bottom: 5px;
            }
        }

        a {
            padding: 10px;

            @media (max-width: 830px) {
                padding: 5px 10px;
            }
        }
    }
}