.newsletter {
    background: #0d6efd;
    
  
  .box-newsletter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 48px 0;

    .newsletter-text {
        padding: 0 10px;

        @media (max-width: 953px) {
            & {
                margin-right: 10px;
            }
        }

        @media (max-width: 901px) {
            .newsletter-text {
                text-align: center;
            }
        }

        h2 {
            color: #fff;
            font-size: 1.6875em;
            font-weight: bold;
            @media (max-width: 609px) {
                & {
                    font-size: 1.3em;
                }
            }
        }

        p {
            color: #fff;
            margin-bottom: 30px;
        }
    }
  }
  
  .form {
    position: relative;

    @media (max-width: 901px) {
         & {
            margin-right: 10px;
        }
    }

    input[type="email"] {
        width: 18.75em;
        outline: none;
        background: transparent;
        color: #fff;
        font-size: 0.875em;
        font-weight: 600;
        border: none;
        border-bottom: 1px solid #fff;
        padding: 0 0 10px 10px;

        @media (max-width: 901px) {
            input[type=email] {
              margin-left: 15px;
            }
        }

        &::placeholder {
            color: #fff;
            font-weight: 600;
            font-size: 0.875em;
        }
    }

    button {
        border: none;
        background: none;
        color: #fff;
        font-size: 1em;
        cursor: pointer;
        position: absolute;
        right: 2px;
    }
  }
}