.portfolio {
    padding: 80px 0 60px 0;
  
  .portfolio-text {
    max-width: 37.5em;
    margin: 0 auto;
    padding: 0 10px;

    p:first-child {
      color: #1fb6fc;
      text-align: center;
      letter-spacing: 2px;
      margin-bottom: -10px;
    }

    h2 {
      font-size: 2.25em;
      font-weight: 400;
      line-height: 1.4;
      color: #2a3a60;
      text-align: center;
    }

    p {
      color: #88879e;
      text-align: center;
      font-size: 0.9em;
      margin: 8px 0;
    }
  }

  .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .portfolio-box {
    margin: 30px 10px 10px 10px;
    width: 18.75em;
    box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.05);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &:hover {
      background: #e8f8ff;
    }

    &:hover .portfolio-box-text p {
      background: #84d7fd;
      color: #fff;
    }

    .portfolio-img {
      width: 100%;
      height: 400px;
      border-radius: 4px;
      display: block;
    }

    .port-img1 {
      @include img-testimonialePortifolio(url("../img/portfolio-1.webp"));
    }
    
    .port-img2 {
      @include img-testimonialePortifolio(url("../img/portfolio-2.webp"));
    }
    
    .port-img3 {
      @include img-testimonialePortifolio(url("../img/portfolio-3.webp"));
    }
    
    .port-img4 {
      @include img-testimonialePortifolio(url("../img/portfolio-4.webp"));
    }

    .portfolio-box-text {
      width: 100%;
      padding: 15px;

      p {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 0.8125em;
        background: #f9faff;
        color: #88879e;
        padding: 3px 8px;
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: bolder;
        letter-spacing: 1px;
        transition: 0.3s;
      }

      h3 a {
        font-size: 1em;
        font-weight: 500;
        color: #2a3a60;
      }
    }
  }

  & > p {
    text-align: center;
    margin-top: 50px;
  }
  
  & > p a {
    color: #1fb6fc;
    transition: 0.3s;
  }
  
  & > p a:hover {
    color: #212529;
  }
}