.pricing {
  padding-bottom: 15px;

  .box-pricing {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 10px;

    .subtitle-pricing {
      color: #1fb6fc;
      text-align: center;
    }

    .title-pricing {
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.2;
      color: #2a3a60;
      text-align: center;
      margin-bottom: 10px;

      @media (max-width: 500px) {
        & {
          font-size: 2.4rem;
        }
      }
    }

    .text-pricing {
      color: #88879e;
      text-align: center;
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  .pricing-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #fcfcfc;
    padding-bottom: 15px;
  }

  .pricing-box {
    margin: 30px 10px 10px 10px;
    padding: 10px 10px 30px 10px;
    width: 15.625rem;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    transition: 0.3s;

    &:hover {
      box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.11);
    }

    .dollar {
      font-size: 1.5rem;
      color: #aebbdb;
      position: relative;
      left: 8px;
    }

    .value {
      font-size: 3.125rem;
      font-weight: 400;
      color: #1fb6fc;
      margin-right: 15px;
    }

    h3 {
      color: #2a3a60;
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 10px;
    }

    ul li {
      padding: 5px 0 10px 30px;
      color: #88879e;
      text-align: left;

      .fa-check {
        color: #1fb6fc;
        margin-right: 0.5rem;
      }
    }

    a {
      @include configbuttom;
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 10px;

      &:hover {
        border-bottom-left-radius: 50px;
        border-top-left-radius: 0;
      }
    }
  }
}