.pricing {
  padding: 30px 0;

  .pricing-text {
    max-width: 37.5em;
    margin: 0 auto;
    padding: 0 10px;

    p:first-child {
      color: #1fb6fc;
      text-align: center;
      letter-spacing: 2px;
      margin-bottom: -1px;
    }

    h2 {
      font-size: 2.25em;
      font-weight: 400;
      line-height: 1.4;
      color: #2a3a60;
      text-align: center;

      @media (max-width: 500px) {
        .pricing-text h2 {
          font-size: 1.9em;
        }
      }
    }

    p {
      color: #88879e;
      text-align: center;
      font-size: 0.9em;
      margin: 8px 0;
    }
  }

  .pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #fcfcfc;
    padding-bottom: 20px;
  }

  .pricing-box {
    margin: 30px 10px 10px 10px;
    padding: 10px 10px 40px 10px;
    width: 15.625em;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    transition: 0.3s;

    &:hover {
      box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.11);
    }

    p sup {
      font-size: 24px;
      color: #aebbdb;
      position: relative;
      left: 8px;
    }

    p {
      font-size: 3.125em;
      font-weight: 400;
      color: #1fb6fc;
      margin-right: 15px;
    }

    h3 {
      margin-bottom: 20px;
      color: #2a3a60;
      text-transform: uppercase;
      font-size: 0.8125em;
      letter-spacing: 1px;
      text-align: center;
    }

    ul li {
      padding: 10px 0;
      color: #88879e;

      &:last-child {
        margin-bottom: 20px;
      }

      .fa-check {
        color: #1fb6fc;
        margin-right: 0.5em;
      }
    }

    a {
      color: #fff;
      background: #1fb6fc;
      font-size: 0.875em;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 50px;
      border-bottom-left-radius: 0px;
      padding: 15px 25px;
      margin-left: -5px;
      transition: 0.3s;

      &:hover {
        border-bottom-left-radius: 50px;
        border-top-left-radius: 0;
      }
    }
  }
}