.services {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0 40px 0;
  background-color: #fcfcfc;

  @media (max-width: 1200px) {
    & {
      flex-wrap: wrap;
    }
  }

  .text-box {
    width: 28rem;
    margin: 15px 0;
    padding: 0 10px 0 30px;

    @media (max-width: 1200px) {
      & {
        margin-bottom: 50px;
        padding: 0 10px;
      }
    }

    .subtitle-services {
      color: #1fb6fc;
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.2;
      color: #2a3a60;
    }

    .text-services {
      color: #88879e;
      line-height: 1.5;
      margin: 15px 0 20px 0;
    }

    a {
      display: inline-block;
      @include configbuttom;

      &:hover {
        @include bottom-hover;
      }
    }
          
  }

  .container-box {
    display: flex;
    max-width: 47rem;
    flex-wrap: wrap;
    justify-content: center;

    .box-space {
      .box {
        max-width: 14.375rem;
        background-color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 15px 0 20px 0;
        margin: 10px;
        box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.05);
        transition: 0.3s;

        &:hover {
          background-color: #1fb6fc;
          transform: translate3d(0, -10px, 0);
          box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
        }

        &:hover h3,
        &:hover p,
        &:hover .icon {
          color: #fff;
        }

        h3 {
          color: #2a3a60;
          font-size: 1.0625rem;
          font-weight: 500;
          margin-bottom: 10px;
        }

        p {
          color: #88879e;
          line-height: 1.5;
          margin-bottom: 16px;
          padding: 0 15px;
        }

        .icon {
          margin: 5px auto;
          border-radius: 50%;
          width: 70px;
          height: 70px;
          background-color: #eff2ff;

          .fa-bullseye,
          .fa-search-plus,
          .fa-pen-nib,
          .fa-lightbulb,
          .fa-chart-line,
          .fa-rocket {
            font-size: 2.125rem;
            line-height: 2;
            color: #1fb6fc;
          }
        }
      }
    }
  }
}

.fundo-services {
  background-color: #fcfcfc;
  padding-bottom: 40px;

  .box-services {
    max-width: 55.25rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.1);

    @media (max-width: 930px) {
      & {
        width: 18.75rem;
        flex-direction: column;
      }
    }

    .img-service {
      width: 24%;
      height: 170px;
      background-image: url("../img/xabout.webp");
      background-size: cover;
      margin-right: 20px;
      background-repeat: no-repeat;
      background-position: center center;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      @media (max-width: 930px) {
        & {
          width: 100%;
          margin-right: 0px;
          border-bottom-left-radius: 0px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }

    .project-services  {
      @media (max-width: 930px) {
      & {
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px dashed #eeeded;
        text-align: center;
        }
      }

      @media (max-width: 930px) {
        &:last-child {
          border-bottom: none;
        }
      }
      
      & + .project-services {
        margin-left: 50px;
        text-align: center;

        @media (max-width: 930px) {
          &  {
            margin-left: 0px;
          }
        }
      }

      p:first-child {
        color: #1fb6fc;
        font-size: 3.125rem;
        line-height: 1;
        margin-bottom: 10px;
      }

      p:last-child {
        font-size: 0.875rem;
        color: #2a3a60;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }
}