.slide-wrapper {
    overflow: hidden;
}

.slide {
  display: flex;
  flex-direction: row;
}

.slide:hover {
  will-change: transform;
}

.slide .box-testimonial {
  opacity: 0;
  transform: scale(0.6);
  transition: 0.4s;
}

.slide .box-testimonial.active {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.arrow-nav button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: #fff;
  width: 40px;
  height: 40px;
  background: #1FB6FC url("/img/arrow.svg") center center no-repeat;
}

.arrow-nav button.prev {
  transform: rotate(-180deg);
}