.testimonial {
  padding: 30px 0 30px 0;
  background-color: #f9faff;
  
  .box-testimonial-title {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 8px;

    .subtitle-testimonial {
      color: #1fb6fc;
      text-align: center;
    }

    .title-testimonial {
      @include headings;
      text-align: center;

      @media (max-width: 500px) {
        & {
          font-size: 2rem;
        }
      }
    }

    .text-testimonial {
      @include paragraphs;
      text-align: center;
      margin: 10px 0 24px 0;
    }
  }

  .testimonial-container {
    margin-top: 48px;

    .box-testimonial {
      min-width: 23.125em;
      background: #fff;
      margin: 20px auto 40px auto;
      padding: 40px 30px 30px 30px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      position: relative;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

      @media (max-width: 410px) {
        min-width: 20em;
      }

      @media (max-width: 340px) {
        min-width: 18.125em;
      }

      .quote {
        position: absolute;
        top: -20px;
        right: 45%;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: #1fb6fc;

        .fa-quote-left {
          color: #fff;
          line-height: 2.5;
          position: relative;
          left: 14px;
          top: 2px;
        }
      }

      .img-testimonial {
        width: 70px;
        height: 70px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
      }

      .img-test1 {
        @include img-testimonialePortifolio(url("../img/testimonal1.webp"));
      }
      
      .img-test2 {
        @include img-testimonialePortifolio(url("../img/testimonal2.webp"));
      }
      
      .img-test3 {
        @include img-testimonialePortifolio(url("../img/testimonal3.webp"));
      }

      .persona {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 5px;

        @media (max-width: 410px) {
          margin-left: 40px;
        }

        span {
          margin-right: 30px;
          font-weight: bold;
          font-size: 17px;
          color: #2a3a60;
        }
        p {
          font-size: 0.875rem;
          color: #1fb6fc;
          font-weight: 400;
        }
      }
    }
  }  
}