.fundo {
    background: linear-gradient(45deg, #553be6 0%, #a87ffa 100%);
    max-width: 100%;
}

header {
    padding: 30px 0 30px 0;
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

header h1 {
    font-size: 1.75em;
}

header a {
    color: #fff;
}

header a:hover {
    color: #000;
    transition: 0.3s;
}

header nav  ul{
    display: flex;
    flex-wrap: wrap
}

header nav  ul li {
    margin-top: 13px;
}

header nav  ul li a {
    padding: 10px ;
}