// Geral
@import 'geral';

// Style Css
@import 'header';
@import 'home';
@import 'services';
@import 'about';
@import 'team';
@import 'testimonial';
@import 'choose';
@import 'portfolio';
@import 'pricing';
@import 'newsletter';
@import 'footer';

// Style Js
@import 'dropdown';
@import 'scroll';
@import 'modal';
@import 'menuMobile';

// Media
@media (max-width:396px) {
  .home .box-1 h1{
      font-size: 2em;
  }

  .home .box-1 .bottom-home1, .bottom-home2 {
      padding: 12px;
  }
  /* Team */
  .text-team h2 {
      font-size: 1.5em;
  }

  /* Pricing */
  .pricing-text h2 {
      font-size: 1.5em;
  }

}

@media (max-width: 375px) {
  
  /* Home */
  .home .box-2 img{
      max-width: 100%;
      padding: 0 15px;
  }

  /* Testimonial */
  .persona {
      margin-left: 20px;
  }
}

@media (max-width: 348px) {
  /* Services */
  .text-box h2 {
      font-size: 2.2em;
  }
}

@media (max-width: 340px) {
  /* Home */
  .home .fab {
      left: 80px;
  }
}